/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */

@media (max-width: 768px) {
    .hiden-xs {
        display: none;
    }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
    .blog-container {
        max-width: 768px;
    }
 }

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) { 
    .blog-container {
        width: 768px;
    }
}

/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width:1200px) { 
    .blog-container {
        width: 768px;
    }
}

/********************** common ********************************/
body {
    padding-top: 35px;
}
a:link {
    text-decoration: none;
}
.footer {
    margin: 30px auto;
    text-align: center;
}
.footer a {
    color: #ea6f5a;
}
.common-list {
    list-style: none;
	padding: 0 0 8px;
	/*border-bottom: 1px solid #eee;*/
}
.auth-panel {
    text-align: center;
}

/********************** navbar ********************************/
.navbar-header a {
    font-size: 14px;
    font-weight: bold;
}
.navbar-head {
    box-sizing: border-box;
    background-color: #fafafb;
    box-shadow: 0 1px 0 rgba(12,13,14,0.15);
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    line-height: 1.3em;
    color: #242729;
    height: 50px;
}
.navbar-head a {
    color: #242729;
}
.navbar-active {
    height: 50px;
    border-bottom: 3px solid #ea6f5a;
}
.navbar-head .navbar-active {
    color: #ea6f5a;
}
.nav .open a {
    border-color: #ea6f5a;
}
.nav .open a:hover {
    border-color: #ea6f5a;
}
.nav .open a:focus {
    border-color: #ea6f5a;
}
/********************** search ********************************/
.search-bar {
    border-bottom: 1px solid #969696;
}
.search-input {
    padding: 0 10px 0 10px;
    width: 130px;
    height: 30px;
    font-size: 14px;
    border: none;
    color: #969696;
    background: transparent;
}
.search-btn {
    width: 30px;
    height: 30px;
    line-height: normal;
    color: #969696;
    text-align: center;
}

/********************** posts ********************************/
.post-title {
    color: black;
}
.post-title a {
    color: inherit;
    font-size: 90%;
    font-weight: bold;
}
.post-title a:hover {
    text-decoration: underline;
}
.post-meta {
    font-size: 85%;
    color: #969696;
}
.post-meta a {
    color: #969696;
}
.post-meta a:hover {
    color: black;
}
.post-description {
    border-bottom: 1px solid #eee;
    line-height: 24px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.post-description img {
    max-width:100%;
    height:auto;
    margin: 0 auto;
}

/********************** paginate ********************************/
.paginate {
    /*display: inline-block;*/
}

.paginate-group-left {
    border: 1px solid #ea6f5a;
    border-radius: 40px;
    font-size: 0;
    padding: 13px 0 15px;
    float: left;
}
.paginate-group-right {
    border: 1px solid #ea6f5a;
    border-radius: 40px;
    font-size: 0;
    padding: 13px 0 15px;
    float: right;
}
.paginate-group-disabled {
    box-shadow: none;
    cursor: not-allowed;
    opacity: 0.65;
}
.paginate-btn-left {
    display: inline-block;
    font-size: 14px;
}
.paginate-btn-left a {
    color: #ea6f5a;
    padding: 18px 30px 18px 15px;
    text-decoration: none;
}
.paginate-btn-right {
    display: inline-block;
    font-size: 14px;
}
.paginate-btn-right a {
    color: #ea6f5a;
    padding: 18px 15px 18px 30px;
    text-decoration: none;
}
.paginate-icon-left {
    border-right: 1px solid rgba(236, 97, 73, 0.4);
    display: inline-block;
    font-size: 14px;
}
.paginate-icon-right {
    border-left: 1px solid rgba(236, 97, 73, 0.4);
    display: inline-block;
    font-size: 14px;
}
.paginate-icon-left a {
    color: #ea6f5a;
    padding: 18px 17px 18px 30px;
}
.paginate-icon-right a {
    color: #ea6f5a;
    padding: 18px 30px 18px 17px;
}

/********************** tags ********************************/
.tag-item-group {
    border: 1px solid #ea6f5a;
    border-radius: 40px;
    font-size: 0;
    padding: 13px 0 15px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.tag-item-btn {
    display: inline-block;
    font-size: 14px;
}
.tag-item-btn a {
    color: #ea6f5a;
    padding: 18px 15px 18px 30px;
    text-decoration: none;
}
.tag-item-count {
    border-left: 1px solid rgba(236, 97, 73, 0.4);
    display: inline-block;
    font-size: 14px;
}
.tag-item-count a {
    color: #ea6f5a;
    padding: 18px 30px 18px 17px;
}

/********************** table ********************************/
.table-col-title {
    width: 75%;
}

/********************** comments ********************************/
.comments-panel {
    margin-top: 10px;
    border-radius: 0;
}

.comments-head {
    border-radius: 0;
}