{% extends "base.html" %}

{% block title %}Jiuwen's Blog - {{ post.title }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h3>{{ post.title }}</h3>
</div>
<header class="post-header">
    <p class="post-meta">
        <i class="fa fa-calendar" aria-hidden="true"></i> {{ moment(post.timestamp).format('YYYY-MM-DD hh:mm:ss') }} 
        &nbsp;
        <a class="post-category" href="{{ url_for('main.category', category_alias=post.related_category.alias) }}">
            <i class="fa fa-folder-open" aria-hidden="true"></i> {{ post.related_category.name }}
        </a>
        &nbsp;
        {% for tag in post.related_tags %}
        <a class="post-category" href="{{ url_for('main.tag', tag_alias=tag.alias) }}">
            <i class="fa fa-tag" aria-hidden="true"></i> {{ tag.name }}
        </a>
        {% endfor %}
    </p>
</header>
<div class="post-description">
    {% if post.content_html %}
        {{ post.content_html | safe }}
    {% else %}
        {{ post.content }}
    {% endif %}
</div>
<div class="panel panel-primary comments-panel">
    <div class="panel-heading comments-head">Comments</div>
    <div class="panel-body">
        <form action="{{ url_for('main.detail', alias=post.alias) }}" method=post>
            {{ form.hidden_tag() }}
            <div class="form-group form-inline">
                {{ form.name(id='name', class='form-control', type='text', placeholder='Your Name') }}
                {{ form.email(id='email', class='form-control', type='email', placeholder='Your Email') }}
            </div>
            <div class="form-group">
                {{ form.content(class='form-control', type='textarea', rows='5', placeholder="What's on your mind?") }}
                {{ pagedown.include_pagedown() }}
            </div>
            <div class="form-group" style='display: none;'>
                {{ form.post_id(id='post_id', class='form-control', value=post.id, type='text', placeholder='Post ID') }}
            </div>
            {{ form.submit(type="submit", class="btn btn-primary btn-lg btn-block") }}
        </form>
    </div>
</div>

{% for comment in post.related_comments %}
<section class="post">
    <header class="post-header">
        <h4 class="post-title">
            <span class="comment-name">{{ comment.name }}</span>
            <span class="comment-time">{{ moment(comment.timestamp).format('YYYY-MM-DD hh:mm:ss') }}</span>
        </h4>
    </header>

    <div class="post-description">
        <div>
            {% if comment.content_html %}
                {{ comment.content_html | safe }}
            {% else %}
                {{ comment.content }}
            {% endif %}
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}