{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
  <h3>All Posts &nbsp;<span class="badge">{{ post_count }}</span></h3>
</div>
{% for post in posts.items %}
<section class="post">
    <header class="post-header">
        <h4 class="post-title">
            <a href="{{ url_for('main.detail', alias=post.alias) }}">{{ post.title }}</a>
        </h4>
    </header>

    <div class="post-description">
        <div>
            {{ post.content }}
        </div>
    </div>
</section>
{% endfor %}

<div class="paginate">
    <div class="paginate-group-left {% if not posts.has_prev %}paginate-group-disabled{% endif %}">
        <div class="paginate-icon-left">
            <a {% if posts.has_prev %}href="{{ url_for('main.index', page = posts.prev_num) }}"{% endif %}>
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
        </div>
        <div class="paginate-btn-left">
            <a {% if posts.has_prev %}href="{{ url_for('main.index', page = posts.prev_num) }}"{% endif %}>
                Newer
            </a>
        </div>
    </div>

    <div class="paginate-group-right {% if not posts.has_next %}paginate-group-disabled{% endif %}">
        <div class="paginate-btn-right">
            <a {% if posts.has_next %}href="{{ url_for('main.index', page = posts.next_num) }}"{% endif %}>
                Older
            </a>
        </div>
        <div class="paginate-icon-right">
            <a {% if posts.has_next %}href="{{ url_for('main.index', page = posts.next_num) }}"{% endif %}>
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}