{% extends "base.html" %}

{% block title %}Jiuwen's Blog - Tags{% endblock %}

{% block page_content %}
<div class="page-header">
  <h3>All Tags&nbsp;<span class="badge">{{ tags | length }}</span></h3>
</div>
<ul class="common-list">
{% for tag in tags %}
    <li>
        <div class="tag-item-group">
            <div class="tag-item-btn">
                <a href="{{ url_for('main.tag', tag_alias=tag.alias) }}">
                    {{ tag.name }}
                </a>
            </div>
            <div class="tag-item-count">
                <a href="{{ url_for('main.tag', tag_alias=tag.alias) }}">
                    {{ tag.related_posts.count() }}
                </a>
            </div>
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}